<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card  baCardClass="with-scroll">
        <div class="row">
	        <div class="col-md-12 col-sm-12 col-xs-12">    
                <table  class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>用户组名称 </th>
                    <th>是否可编辑 </th>
                    <th>状态 </th>
                    <th>创建时间</th>
                    <th>操作</th>
                    <th>备注</th>
                  </tr>
                </thead>
              </table>	         
	        </div>
      	</div>          
      </ba-card>
    </div>
  </div>

</div>

