@media (min-width: 992px){
    .xiugai_9{
        width:10%;
    }
}
@media (max-width: 992px)and(min-width: 768px){
    .xiugai_9{
        width:25%;
    }
}
@media (max-width: 768px){
    .xiugai_9{
        width:100%;
    }
}
@media (min-width: 992px){
	.xiugai_6{
	width: 8%;
	}
}
@media (max-width: 992px)and(min-width: 768px){
	.xiugai_6{
	width: 25%;
	}
}
@media (max-width: 768px){
	.xiugai_6{
	width: 100%;
	}
}